/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  font-family: -apple-system, BlinkMacSystemFont;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 550px) {
  .container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.nav {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(to bottom, #cc5500, #ff791a);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 550px) {
  .nav {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3%;
  }
}
.nav .nav-text {
  max-width: 50%;
  padding-bottom: 5%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.9rem;
  text-align: center;
}
@media (max-width: 550px) {
  .nav .nav-text {
    font-size: 2.4rem;
    margin-top: 15%;
    margin-bottom: 25%;
    max-width: 90%;
  }
}
.nav .nav-title {
  font-family: 'Chivo', sans-serif;
  font-style: italic;
  font-size: 8rem;
  margin-top: 10%;
}
@media (max-width: 550px) {
  .nav .nav-title {
    font-size: 4rem;
    width: 100%;
    text-align: center;
  }
}
.nav .nav-second-title {
  font-family: 'Chivo', sans-serif;
  font-style: italic;
  font-size: 3rem;
  margin-bottom: 1%;
}
@media (max-width: 800px) {
  .nav .nav-second-title {
    width: 85%;
    text-align: center;
    margin-bottom: 2%;
    font-size: 2rem;
  }
}
.nav .arrow {
  margin-bottom: 3%;
  transform: translate(-50%, -50%);
}
.nav .arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #0077CC;
  border-right: 5px solid #0077CC;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.nav .arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.nav .arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
.nav .navigation {
  width: 60%;
  height: 5%;
  display: flex;
  margin-bottom: 1%;
  margin-top: 2%;
}
@media (max-width: 550px) {
  .nav .navigation {
    display: none;
  }
}
.nav .navigation a {
  margin: 0 2%;
  width: 20%;
  border: 1px solid #f6f8f6;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition-duration: 300ms;
}
@media (max-width: 800px) {
  .nav .navigation a {
    margin: 0 10%;
  }
}
.nav .navigation a:hover {
  border: 1px solid #0077CC;
  background: #0077CC;
}
.nav .navigation .nav-test,
.nav .navigation .nav-home,
.nav .navigation .nav-about {
  color: #f6f8f6;
}
footer {
  color: darkslategray;
  background: #F0F2F5;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  text-decoration: none;
}
footer .footer-text {
  font-size: 1.7rem;
  text-decoration: none;
  color: darkslategray;
  margin-bottom: 5px;
}
footer .footer-citation {
  font-size: 1.2rem;
  text-decoration: none;
  color: darkslategray;
}
.home {
  background: linear-gradient(to bottom, #ff791a, #ff791a);
  max-width: 100%;
}
.home .projects {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 550px) {
  .home .projects {
    flex-direction: column;
  }
}
.home .projects .projects-title {
  width: 80%;
  text-align: left;
  font-size: 6rem;
  font-weight: bold;
  padding-bottom: 5%;
  font-family: "Quicksand", sans-serif;
  margin-left: 5%;
  margin-top: 2%;
}
@media (max-width: 550px) {
  .home .projects .projects-title {
    width: 100%;
    text-align: left;
    font-size: 4rem;
    padding-left: 5%;
    font-weight: bold;
    margin-bottom: 2%;
    font-family: "Quicksand", sans-serif;
  }
}
.home .projects div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 50%;
  transition-duration: 300ms;
  margin-bottom: 2%;
}
@media (max-width: 550px) {
  .home .projects div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
}
.home .projects div .project-title {
  width: 80%;
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2%;
  font-family: "Quicksand", sans-serif;
  margin-left: 5%;
  margin-top: 2%;
}
@media (max-width: 550px) {
  .home .projects div .project-title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2%;
    font-family: "Quicksand", sans-serif;
    margin-left: 5%;
    margin-top: 2%;
  }
}
.home .projects div p {
  padding: 0 5%;
  padding-top: 0;
  width: 80%;
  font-size: 2rem;
}
@media (max-width: 550px) {
  .home .projects div p {
    padding: 0 5%;
    padding-top: 0;
    width: 90%;
    font-size: 1.8rem;
  }
}
.home .projects div img {
  width: 600px;
  height: 400px;
  object-fit: scale;
  flex-shrink: 2;
}
@media (max-width: 550px) {
  .home .projects div img {
    width: 350px;
    height: 250px;
  }
}
.home .projects div .mood-bloom-img {
  width: auto;
  height: 400px;
  box-shadow: none;
}
.home .projects div .seventh-link {
  text-decoration: none;
  color: black;
  font-weight: 550;
}
.home .projects .arrow {
  background-color: #0077CC;
  padding: 10px 15px;
  position: sticky;
  left: 100%;
  width: 4em;
  top: 10%;
  border: none;
  box-shadow: 3px 3px 10px;
  border-radius: 10px;
  height: 40px;
  size: 10px;
}
@media (max-width: 800px) {
  .home .projects .arrow {
    display: none;
  }
}
.home .projects .icon-bar {
  position: fixed;
  top: 50%;
  left: 15px;
  width: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 800px) {
  .home .projects .icon-bar {
    display: none;
  }
}
.home .projects .icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}
.home .projects .icon-bar .twitter {
  background: #55acee;
  color: white;
}
.home .projects .icon-bar .twitter:hover {
  background-color: #000;
}
.home .projects .icon-bar .linkedin {
  background: #007bb5;
  color: white;
}
.home .projects .icon-bar .linkedin:hover {
  background-color: #000;
}
.home .projects .icon-bar .git-hub {
  background: black;
  color: white;
}
.home .projects .icon-bar .git-hub:hover {
  background-color: white;
  color: black;
}
.home .projects .menu {
  width: 20%;
}
.home .projects .menu .panel {
  display: none;
}
.home .projects .menu .toggle-on {
  display: block;
  margin: 0px 10px 0px 20px;
  float: left;
  width: 150px;
  height: 200px;
  border: 1px dashed #090;
  background-color: #cfc;
}
.home .projects .project1,
.home .projects .project2,
.home .projects .project3,
.home .projects .project4 {
  display: flex;
  margin: 0;
}
@media (max-width: 550px) {
  .home .projects .project1,
  .home .projects .project2,
  .home .projects .project3,
  .home .projects .project4 {
    padding-bottom: 10%;
  }
}
.home .projects .projects-button {
  margin: 2% 0;
  width: 20%;
  border: 2px solid #f6f8f6;
  border-radius: 10px;
  font-size: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition-duration: 300ms;
  padding: 10px;
  background: none;
  font-family: "Source Sans Pro", sans-serif;
  color: #f6f8f6;
}
@media (max-width: 550px) {
  .home .projects .projects-button {
    margin: 2% 0;
    width: 40%;
    border: 2px solid #f6f8f6;
    border-radius: 10px;
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
.home .projects .projects-button:hover {
  border: 2px solid #0077CC;
  background: #0077CC;
}
.container .about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width: 550px) {
  .container .about {
    flex-direction: column;
  }
}
.container .about div {
  width: 22%;
  margin: 3% 0;
  margin-bottom: 0;
  border: 2px dashed white;
  padding: 2%;
  transition-duration: 300ms;
}
.container .about div:hover {
  background: #8D7E83;
}
@media (max-width: 550px) {
  .container .about div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  .container .about div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
}
.container .about div img {
  max-width: 100%;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  padding-right: 5%;
}
@media (max-width: 550px) {
  .container .about div img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 800px) {
  .container .about div img {
    width: 200px;
    height: 200px;
    border-radius: 0;
  }
}
.container .about div h1 {
  margin: 4% 0;
  font-size: 3rem;
  color: black;
}
.container .about div h3 {
  font-size: 2rem;
  color: white;
  margin-bottom: 2%;
}
.contact {
  padding-bottom: 40px;
}
.contact .projects-title {
  width: 80%;
  text-align: left;
  font-size: 6rem;
  font-weight: bold;
  padding-bottom: 5%;
  font-family: "Quicksand", sans-serif;
  margin-left: 5%;
  margin-top: 2%;
}
@media (max-width: 550px) {
  .contact .projects-title {
    width: 100%;
    text-align: left;
    font-size: 4rem;
    padding-left: 5%;
    font-weight: bold;
    margin-bottom: 2%;
    font-family: "Quicksand", sans-serif;
  }
}
.contact .form-div {
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  background-color: #dfe0df;
}
@media (max-width: 550px) {
  .contact .form-div {
    width: 80%;
  }
}
.contact .form-div .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .form-div .form .input-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 50%;
  margin-bottom: 2%;
}
.contact .form-div .form .input-div .input-title {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.contact .form-div .form .input-div .input {
  margin: 10px 0;
  width: 60%;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.contact .form-div .form .input-div .textarea {
  height: 80px;
}
.contact .form-div .form .form-button {
  border: none;
  border-radius: 20px;
  padding: 15px;
  width: 120px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 20px;
  background: #0077CC;
  color: white;
}
.contact .form-div .form .form-button:hover {
  background: #f0f2f5;
  color: black;
}
